html{
   
}

body { 
    margin-bottom: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
}

p{
    font-size: 2vw;
}

body{margin: 0px}

#logo {
    margin: 0px;
    padding: 12;
    font-family: cursive;
    text-shadow: ;

}

#nav-ul {
    display: flex;
}

body > header{
    background-color: rgb(255, 190, 227);
    color: rgb(255, 255, 255);
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: space-around;
}

body > footer{
    background-color: rgb(255, 190, 227);
    color: white;
}

body>header>nav>ul{
    list-style: none;
}

body>main article{
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    font-family: monospace ;
    justify-content: space-around;
}

#main-content > div {
    width: 90%;
}

#main-content aside {
    inset: 20px;
}

body>header>ul {
    display: flex;
}

ul{
    margin: 0px;
}

.navbutton{
    text-size-adjust: 5%;
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 5%;
    justify-content: space-around;

}

form{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 4.5vw;
}

h3{
    font-size: 1vw;
}

img{
    border-radius: 100%;
}

body>footer {
    display: flex;
    font-family: cursive;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul> div> li> a {
    margin: 12px;
    color: white;
    text-decoration: none;
}